:root {
  --accent: #007ECC;
  --accent-2: #EC2F4B;
  --text: #003f66;
  --text-hover: var(--accent);
  --text-active: #FFFFFF;
  --border-width: 0.125em;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101c24;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 80px 0 rgba(0, 0, 0, 0.37);
  width: 600px;
}

.child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.Login input[type="text"] {
  background-image: url("frontend/user.png");
}

.Login input[type="password"] {
  background-image: url("frontend/pass.png");
  margin-top: 25px;
}

/* General styles for inputs */
.Login input[type="text"],
.Login input[type="password"] {
  padding-left: 50px;
  background-position: 10px center;
  background-size: auto 30px;
  width: 500px;
  height: 80px;
  font-size: 30px;
  box-sizing: border-box;
  border: 5px solid #ccc;
  border-radius: 10px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  color: #fff;
  background-color: #181c24;
  border-color: #555;
  transition: all 0.3s ease-in-out;
}

.Login input[type="submit"]{
  margin-bottom: 40px;
}

.LogoImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.TextFields1{
  margin-top: 20px;
}

/* Remove background image for .no-bg class */
.Login input.no-bg {
  background-image: none;
  padding-left: 20px; /* Adjust padding if needed */
}

.Login input[type="text"]:focus,
.Login input[type="password"]:focus {
  border-color: #fff;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 53px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  font-size: 30px;
  margin-top: 30px;
}

.button:focus {
  box-shadow: #FF7A18 0 0 0 2px, rgba(0, 0, 0, 0.15) 0 2px 4px;
}



.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #FF7A18 0 0 0 2px, rgba(0, 0, 0, 0.15) 0 2px 4px;
  transform: translateY(0);
}

.role-dropdown {
   margin-top: 25px;
   text-align: center;
}

.role-dropdown .dropdown {
   position: relative;
   display: inline-block;
}

.role-dropdown .dropdown summary {
   cursor: pointer;
   -webkit-user-select: none;
   user-select:none;
   background-color: #181c24; /* Set background color */
   color: white; /* Set text color */
   padding: 0.5em; /* Add padding for better appearance */
   border-radius: 6px; /* Add border radius for rounded corners */
}

.role-dropdown .dropdown summary:focus {
   outline: none;
}

.role-dropdown .dropdown ul {
   position: absolute;
   margin-top: 0.5em;
   padding: 0.5em;
   width: 160px; /* Adjust as needed */
   left: 50%;
   transform: translateX(-50%);
   background: #003f66;
   border-radius: 6px;
   list-style: none;
   z-index: 1;
   display: none;
}

.role-dropdown .dropdown ul li {
   padding: 0.5em 0;
}

.role-dropdown .dropdown ul li label {
   cursor: pointer;
}

/* Show dropdown when summary is clicked */
.role-dropdown .dropdown[open] ul {
   display: block;
}

/* Dropdown triangle */
.role-dropdown .dropdown ul::before {
   content: '';
   position: absolute;
   top: -10px;
   left: 50%;
   margin-left: -10px;
   border-style: solid;
   border-width: 0 10px 10px 10px;
   border-color: transparent transparent white transparent;
}

/* Styling for radio buttons*/
.role-dropdown .dropdown ul li input[type="radio"] {
   display: none;
}

.role-dropdown .dropdown ul li label {
   display: block;
   padding: 0.5em;
}

.role-dropdown .dropdown ul li label:hover {
   border-radius: 10px;
   background-color: #005e99;
   color: #002f4d;
}

.statusaccount {
 position: relative;
 border-radius: 999em;
 overflow: hidden;
 height: 2.75em;
 width: 500px; /* Adjusted width */
 display: flex;
 flex-direction: row-reverse;
}

.statusaccount > * {
 flex: 1;
}

.statusaccount:after {
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 border: var(--border-width) solid var(--accent);
 border-radius: 999em;
 pointer-events: none;
}

.statusaccount__input {
 display: none;
}

.statusaccount__input:checked + .statusaccount__label {
 background-color: var(--accent);
 color: var(--text-active);
}

.statusaccount__input:nth-of-type(1) + label { order: 2; }
.statusaccount__input:nth-of-type(2) + label { order: 1; }

.statusaccount__label {
 display: flex;
 font-size: 25px;
 align-items: center;
 justify-content: center;
 position: relative;
 cursor: pointer;
 transition: all 0.2s ease-out;
 color: var(--text);
 padding: 1 1em;
 border-left: var(--border-width) solid var(--accent);
}

.statusaccount__label:first-of-type {
 border-left: none;
}

.statusaccount__label:hover {
 color: var(--text-hover);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: monospace;
}

th, td {
  padding: 12px;
  text-align: center;
  height: 50px;
}

th {
  background-color: #2C3E50; /* Dark blue-gray */
  color: #ECF0F1; /* Light text for contrast */
  height: 70px;
}

tr:nth-child(even) {
  background-color: #517394; /* Darker gray-blue */
  color:#FFFFFF;
}

tr:nth-child(odd) {
  background-color: #6b8cae; /* Slightly lighter gray-blue */
  color: #ECF0F1; /* Light text for contrast */
}

tr:hover {
  background-color: #2C3E50; /* Much lighter shade of gray-blue */
  color: #2C3E50; /* Darker text for contrast */
}

h1, h2{
  font-family: monospace;
  text-align: left;
  color: white;
}


table, th, td {
  color: white;
  border: 3px solid;
}