:root {
  --s: 200px; /* Control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 80px 800px 0 rgba(0, 0, 0, 0.37);
  background-color: #333333;
  border: 2px solid white; /* Set border color to white */
  width: 700px;
}

.child {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.Login input[type="text"] {
  background-image: url("frontend/user.png");
}

.Login input[type="password"] {
  background-image: url("frontend/pass.png");
  margin-top: 25px;
}

/* General styles for inputs */
.Login input[type="text"],
.Login input[type="password"] {
  padding-left: 50px;
  background-position: 10px center;
  background-size: auto 30px;
  width: 500px;
  height: 80px;
  font-size: 30px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 10px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  color: #fff;
  background-color: #262626;
  border-color: #a6a6a6;
  transition: all 0.3s ease-in-out;
}

.Login input[type="submit"]{
  margin-bottom: 20px;
}

.LogoImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.TextFields1{
  margin-top: 20px;
}

/* Remove background image for .no-bg class */
.Login input.no-bg {
  background-image: none;
  padding-left: 20px; /* Adjust padding if needed */
}

.Login input[type="text"]:focus,
.Login input[type="password"]:focus {
  border-color: #fff;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #404040;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 53px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  font-size: 30px;
  margin-top: 30px;
}

::placeholder {
  color: #a6a6a6;
}

.button:focus {
  box-shadow: #FF7A18 0 0 0 2px, rgba(0, 0, 0, 0.15) 0 2px 4px;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-7px);
}

.button:active {
  box-shadow: #FF7A18 0 0 0 2px, rgba(0, 0, 0, 0.15) 0 2px 4px;
  transform: translateY(0);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: monospace;
}

th, td {
  padding: 12px;
  text-align: center;
  height: 50px;
}

th {
  background-color: #2C3E50; /* Dark blue-gray */
  color: #ECF0F1; /* Light text for contrast */
  height: 70px;
}

tr:nth-child(even) {
  background-color: #517394; /* Darker gray-blue */
  color:#FFFFFF;
}

tr:nth-child(odd) {
  background-color: #2aa7d5; /* Slightly lighter gray-blue */
  color: #ECF0F1; /* Light text for contrast */
}

tr:hover {
  background-color: #2C3E50; /* Much lighter shade of gray-blue */
  color: #2C3E50; /* Darker text for contrast */
}

h1, h2, h4{
  font-family: monospace;
  text-align: left;
  color: white;
}

.table-container {
  margin: 20px auto; /* Center the container horizontally */
  width: 80%; /* Set a fixed width for the container */
  max-width: 1200px; /* Set a maximum width if needed */
  position: fixed; /* Fixed positioning */
  top: 50%; /* Position the container vertically */
  left: 50%; /* Position the container horizontally */
  transform: translate(-50%, -50%); /* Center the container */
  z-index: 1; /* Ensure it stays above other content */
  overflow: auto; /* Add scrollbar if content overflows */
}


table, th, td {
  color: white;
  border: 2px solid;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7);
  /* Black w/ opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h3, p, label{
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #333333;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

.modal-content input[type="number"] {
  background-color: black;
  color: white; /* Changing text color to white for contrast */
  border: 1px solid #ccc; /* Adding a border for better visibility */
  padding: 8px; /* Adding padding for better spacing */
  border-radius: 4px; /* Adding border-radius for a rounded look */
  width: 75px;
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown{
  position: relative;
  z-index: 50; /* Set a lower z-index than the menu but higher than default */
  margin: 2em;
  min-width: 15em;
}

.dropdown * {
  cursor: pointer;
  box-sizing: border-box;
}

.dropdown input[type="radio"] {
  display: none; /* Hide the radio buttons */
}

.dropdown .menu {
  border-color: white;
  text-align: center;
  list-style: none;
  padding: 0em 0.5em;
  background: #292929;
  border-radius: 0.5em;
  color: #fff;
  position: absolute; /* Make sure it's positioned absolutely */
  top: 3em;
  left: 0;
  width: 100%;
  max-height: 175px; /* Set a maximum height to ensure proper overflow handling */
  transition: 300ms cubic-bezier(0.77,0,0.18,1);
  z-index: 1000; /* Ensure it stays on top */
  overflow-y: auto; /* Allow vertical scrolling */
}

.select {
  background: #1c1c1c;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #3f3f3f solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}

.select-clicked {
  border: 1px #269a3d solid;
  box-shadow: 0 0 0.8em #269a26;
}

.select:hover {
  background: #373737;
}

.caret{
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 6px solid #fff;
}

.caret-rotate{
  transform: rotate(90deg);
}

.menu {
  text-align: center;
  list-style: none;
  padding: 0em 0.5em;
  background: #292929;
  border-radius: 0.5em;
  color: #fff;
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  height: 0;
  transition: 300ms cubic-bezier(0.77,0,0.18,1);;
  z-index: 1;
  overflow-y: scroll;
}

.menu::-webkit-scrollbar{
  width: 8px;
}

menu::-webkit-scrollbar-track{
  background: #404040;
}

.menu::-webkit-scrollbar-thumb{
  background: #727272;
}

.menu::-webkit-scrollar-thumb:hover{
  background: #9e9e9e;
}

.menu li{
  padding: 0.7em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}

.menu li:hover{
  background: #404040;
}

.active {
  background: #1e1e1e;
}

.text-fade-in{
  animation: textFade 300ms ease-in-out;
}

.menu-open{
  border: 1px #383838 solid;
  height: auto; /* Adjust height when opened */
}

@keyframes textFade{
  0%{
    transform: translateX(-1em);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.25rem;
  border-radius: 99px;
}

.tabs * {
  z-index: 2;
}

.statsAcc {
  position: relative;
  z-index: 10;
  height: auto;
}

.statsAcc input[type="radio"] {
  display: none;
}

.statusaccount__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 125px;
  font-size: 1.03rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.statsAcc input[type="radio"]:checked + label {
  color: #f2f2f2;
}

.statsAcc input[id="normal"]:checked ~ .glider {
  transform: translateX(0);
}

.statsAcc input[id="vip"]:checked ~ .glider {
  transform: translateX(100%);
}

.statsAcc input[id="non-customer"]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 60px;
  width: 124px;
  background-color: #999999;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .tabs {
      transform: scale(0.6);
  }
}

.card {
  margin: 20px; /* Add some space between the cards */
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 200px; /* Adjusted height to match new card dimensions */
  overflow: hidden; /* Ensures image stays within rounded borders */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* If you want the cards to wrap */
  justify-content: center; /* Center the cards */
}

.card-image img {
  width: 100%;
  height: 100%; /* Ensures the image matches the container size */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
  border-radius: 5px;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.9em; /* Slightly larger font for category */
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 12px 10px 0;
}

.heading {
  font-weight: 600;
  padding: 12px; /* Slightly increased padding for better spacing */
}

.author {
  font-weight: 400;
  font-size: 13px; /* Slightly larger font for better readability */
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%;
}

.text-container h5, a{
  font-size: 25px;
  font-family: monospace;
}

